:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
  
  select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    /* color: #fff; */
    background-color: linear-gradient(90deg, #f60808 0%, #fbfb3f 100%);
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 150px;
    height: 32px;
    border-radius: .25em;
    overflow: hidden;
  }
  /* Flecha */
  .select::after {
    content: '\25BC';
    position: absolute;
    color: var(--darkgray);
    top: 0;
    right: 0;
    padding: 8px;
    background: linear-gradient(90deg, #f60808 0%, #fbfb3f 100%);
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #ffffff;
  }
.filterDiv{
    /* background: linear-gradient(90deg, #f60808 0%, #fbfb3f 100%); */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.cardsDiv { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  position: relative;
  padding: 10px 250px 20px;
  width: 1500px;
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px );
  gap: 70px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
   }
   
.switch input {
    display: none;
   }
   
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #34495e;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
   }
   
   input:checked + .slider {
    background: linear-gradient(90deg, #f60808 0%, #fbfb3f 100%);
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #0b0ecf;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(66px);
   }
   
   
   .slider:after {
    content: 'API';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
   }
   
   input:checked + .slider:after {
    content: 'BDD';
   }